<div class="col-md-6 w-100">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static bg-light">
            <strong class="d-inline-block mb-2 text-primary">Профиль</strong>
            <h3 class="mb-0">{{index . "fio"}}</h3>
            <div class="mb-1 text-muted">Online</div>
        </div>
        <div class="col-auto d-none d-lg-block">
            {{if index . "avatar"}} <picture>
                <source srcset='/static/images/profile/{{index . "avatar"}}/650.webp' type="image/webp">
                <img src='/static/images/profile/{{index . "avatar"}}/650.jpg' height="220pt" />
            </picture>
            {{else}}
            <i class="bi bi-person-fill text-secondary no-avatar"></i>
            {{end}}
        </div>
    </div>
</div>

<main class="col-md-9 w-100 col-lg-10 px-md-4 bg-light border rounded shadow-sm">
    <div class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand">
            <div class=""></div>
        </div>
        <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
        </div>
    </div>
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Статистика выполнения заданий</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Отправить</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Экспортировать</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-calendar align-text-bottom" aria-hidden="true">
                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                    <line x1="16" y1="2" x2="16" y2="6"></line>
                    <line x1="8" y1="2" x2="8" y2="6"></line>
                    <line x1="3" y1="10" x2="21" y2="10"></line>
                </svg>
                Неделя
            </button>
        </div>
    </div>
    <div class="mb-2 mb-md-0 w-100" style="height: 250pt;"></div>
</main>